@import@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  color: #C1C1CB;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #282739;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}

.profile {
  justify-content: end;
  cursor: pointer;
}

h1 {
  position: absolute;
  left: 50%;
  text-decoration: underline;
}

li, a, button {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

.nav__links li {
  display: inline-block;
  padding: 0 1.5rem;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color:orange;
  cursor: pointer;
}

button {
  border: 1px solid #282739;
  border-radius: 1rem;
  width: 5rem;
  height: 1.5rem;
  cursor: pointer;

}

button:hover {
  background-color: orange;
  color: #282739;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background-image: url(/images/abstract-color-background-for-web-and-print-materials-free-vector.jpg);*/
  background-size: cover;
  background-position: center;
}


table, th, td {
  padding: 1rem;
}

table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0.4rem 0.8rem #0005;
  border-radius: .8rem;
}

table {
  border: 1px solid white;
} 

th, td {
  border-bottom: 2px solid orange;
  border-left: 2px solid orange;
}