* {
    box-sizing: border-box;
}

h1 {
    position: relative;
    left: 50%;
    padding-top: 2rem;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    position: relative;
    left: 5%;
    font-size: 2rem;
}

ul li {
    padding-top: 1.2rem;
    font-family: sans-serif;
    text-decoration: un;
}

ol {
    padding-top: 1.2rem;
}

ol li {
    padding-top: 1rem;
}

